:root {
  --white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
  // Primary
  --pink: hsl(322, 100%, 66%);
  // Neutral
  --vy-dale-cyan: hsl(193, 100%, 96%);
  --vy-dk-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
}