@use '../util' as *;

.feature {
  display: grid;
  gap: rem(39);
  padding: rem(50) rem(38) rem(38);
  box-shadow: 0 rem(5) rem(15) hsl(0, 0%, 90%);
  border-radius: rem(20);

  @include breakpoint(medium) {
    padding: rem(100) rem(35);
    grid-template-columns: repeat(2, 1fr);

    &__illustration-alt {
      order: 2
    }

    &__content-alt {
      order: 1
    }
  }

  @include breakpoint(large) {
    padding: rem(50) rem(35) rem(50) rem(115) ;
    gap: rem(140);
  }

  &__illustration {

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    place-self: center;
    text-align: center;

    @include breakpoint(medium) {
      text-align: left;
    }

    h2 {
      margin-bottom: rem(21);
      font-family: var(--font-headings);
      font-size: rem(21);

      @include breakpoint(large) {
        margin-bottom: rem(18);
        font-size: rem(29);
      }
    }

    p {
      color: var(--grayish-blue);
      line-height: 1.3;
      font-size: rem(15);

      @include breakpoint(large) {
        font-size: rem(18);
      }
    }
  }
}