@use '../util' as *;

footer {
  background-color: var(--vy-dk-cyan);
}

.footer {
  padding-top: rem(138);
  padding-bottom: rem(47);
  position: relative;

  @include breakpoint(medium) {
    padding-top: rem(190);
  }

  &-build {
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 90%;
    max-width: rem(800);
    transform: translate(-50%, 50%);
    border-radius: rem(15);
    box-shadow: 0 rem(1) rem(5) hsl(0, 0%, 18%);
    padding: rem(46) 0;
    background-color: var(--white);
    text-align: center;

    p {
      margin-bottom: rem(25);
      font-family: var(--font-heading);
      font-weight: 600;

      @include breakpoint(medium) {
        margin-bottom: rem(39);
        font-size: rem(32);
      }
    }

    a {
      display: inline-block;
      border-radius: rem(100);
      padding: rem(11) rem(51);
      color: var(--white);
      background-color: var(--pink);
      font-weight: 700;
      font-size: rem(10);
      transition: opacity 300ms ease-in;

      @include breakpoint(medium) {
        font-size: rem(16);
        padding: rem(29) rem(120);
      }

      &:hover {
        opacity: .7;
      }
    }
  }

  &-logo {
    display: inline-block;
    margin-bottom: rem(28);
    
    img {
      width: rem(168);
      height: rem(28);

      @include breakpoint(large) {
        width: rem(245);
        height: rem(40);
      }
    }
  }

  &-copyright {
    color: var(--white);
    font-size: rem(13);
    text-align: center;

    @include breakpoint(large) {
      font-size: rem(15);
      text-align: right;
    }
  }
}

.info {
  display: grid;
  gap: rem(55);
  color: var(--white);
  font-size: 1rem;

  @include breakpoint(large) {
    grid-template-columns: 1fr 1fr .5fr;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: rem(28);
    font-size: rem(20);

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: rem(25);

      a {
        transition: color 200ms ease-in;

        &:hover {
          color: var(--pink);
        }
      }
    }

    &--loc {
      color: var(--white);
      align-self: flex-start;
    }

    &--loc ~ span {
      color: var(--white);
      align-self: flex-start;
    }

    &--num {
      color: var(--white);
    }

    &--email {
      color: var(--white);
    }
  }

  &__links {
    display: grid;
    gap: rem(28);
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: rem(18);

    a {
      color: var(--white);
      transition: text-decoration 300ms ease-in;

      &:hover {
        text-decoration: underline;
      }
    }

    @include breakpoint(large) {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: max-content;
      gap: rem(24);

      &--us {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }

      &--we {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }

      &--faq {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
      }

      &--career {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }

      &--blog {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }

      &--contact {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
      }
    }
  }

  &__socmed {
    display: flex;
    justify-content: center;
    gap: rem(12);
    margin-bottom: rem(25);

    @include breakpoint(large) {
      justify-content: flex-start;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      border: rem(1) solid var(--white);
      border-radius: 50%;
      width: rem(33);
      height: rem(33);
      color: var(--white);
      font-size: rem(18);
      transition: all 200ms ease-in;

      &:hover {
        border-color: var(--pink);
        color: var(--pink);
      }
    }
  }
}