@use '../util' as *;

.intro {
  display: grid;
  gap: rem(55);
  place-items: center;
  padding-bottom: rem(37);

  @include breakpoint(medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(large) {
    grid-template-columns: 1fr 1.4fr
  }

  &__build {
    text-align: center;

    @include breakpoint(medium) {
      text-align: left;
    }

    h1 {
      font-family: var(--font-headings);
      font-size: rem(25);
      font-weight: 600;
      line-height: 1.3;
      letter-spacing: 0;
      margin-bottom: rem(28);

      @include breakpoint(large) {
        margin-bottom: rem(40);
        font-size: rem(43);
      }
    }

    p {
      line-height: 1.5;
      margin-bottom: rem(34);
    }

    a {
      display: inline-block;
      box-shadow: 0 rem(5) rem(10) hsl(208, 11%, 80%);
      border-radius: rem(120);
      padding: rem(12.5) rem(65.5);
      background-color: var(--pink);
      color: var(--white);
      font-size: rem(11);
      font-weight: 700;
      transition: all 300ms ease-in;
      
      &:hover {
        color: var(--pink);
        background-color: var(--black);
      }

      @include breakpoint(large) {
        padding: rem(18.6) rem(69.5);
        font-size: rem(14);
      }
    }
  }

  &__mockup {

    img {
      width: 100%;
      height: 100%;
    }
  }
}